<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shenjianli.lib">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <application
        android:name=".MobileApp"
        android:allowBackup="true"
        android:icon="${icon}"
        android:label="${app_name}"
        android:debuggable="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerViewActivity"/>
        <activity android:name=".engine.recyclerview.chat.ChatActivity"/>
        <activity android:name=".engine.recyclerview.multi.MultiActivity"/>
        <activity android:name=".engine.recyclerview.single.SingleActivity"/>
        <activity android:name=".activity.RecyclerViewMainActivity"/>
        <activity android:name=".activity.RxAndroidActivity"/>
        <activity android:name=".activity.RxJavaActivity"/>
        <activity android:name=".engine.recyclerview.staggered.StaggeredActivity"/>
        <activity android:name=".engine.recyclerview.refresh.DisableExampleActivity"/>
        <activity android:name=".engine.recyclerview.refresh.EmptyViewActivity"/>
        <activity android:name=".engine.recyclerview.refresh.GridActivity"/>
        <activity android:name=".engine.recyclerview.refresh.LinearActivity"/>
        <activity android:name=".engine.recyclerview.refresh.StaggeredGridActivity"/>
        <activity android:name=".engine.recyclerview.refresh.CollapsingToolbarLayoutActivity"/>
        <activity android:name=".engine.recyclerview.refresh.MultiHeaderActivity"/>
        <activity android:name=".engine.recyclerview.refresh.RefreshMainActivity"/>
        <service android:name=".service.BackgroundMonitorService"/>

    </application>

</manifest>